
@{
    ViewData["Title"] = "Login";

}
@model Cliente

<h1>Registro</h1>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Accede a tu cuenta</h5>
        <form asp-action="Login">
            <div>
                <label asp-for="@Model.UserName" for="exampleInputEmail1">Nombre de usuario</label>
                <input asp-for="@Model.UserName" type="text" class="form-control" placeholder="Nombre de usuario">
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" for="exampleInputPassword1">Contraseña</label>
                <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Contraseña">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </form>
    </div>
</div>