
@{
    ViewData["Title"] = "Productos";
}
@model List<Producto>
<h1>Productos</h1>

<div class="container">
    <div class="row">
        @foreach (Producto prod in Model)
        {
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                    <a asp-action="Detalle"
                       asp-route-id="@prod.Id">
                        <img class="card-img-top" src="@prod.Img" alt="Card image cap">
                    </a>
                    <div class="card-block">
                        <a asp-action="Detalle"
                           asp-route-id="@prod.Id">
                            <h4 class="card-title text-primary">@prod.Nombre</h4>
                        </a>
                        <p class="card-text"><strong>Precio: </strong>@prod.Precio</p>
                        <p class="card-text"><strong>Descripción: </strong>@prod.Descripcion</p>
                        <a asp-controller="Cliente"
                           asp-action="AddProducto"
                           asp-route-id="@prod.Id"  class="btn btn-primary btn-lg btn-block">Añadir al carrito</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">IDProduct: @prod.Id</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

