
@{
    ViewData["Title"] = "Registro";

}
@model Cliente

<h1>Registro</h1>


<form asp-action="Registro">
    <div class="card mx-auto col-12 col-md-9 col-lg-7">
        <div class="card-body">
            <small class="text-secondary">Todos los campos son requeridos</small>
            <h5 class="card-title">Datos de la cuenta</h5>
            <div class="row">




                <div class="form-group col-12">
                    <label asp-for="@Model.Email" for="Email">Email</label>
                    <input asp-for="@Model.Email" id="Email" type="text" class="form-control" placeholder="Nombre de usuario">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="@Model.Password" for="Password">Contraseña</label>
                    <input asp-for="@Model.Password" id="Password" type="password" class="form-control" placeholder="Contraseña">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div class="form-group col-6">
                    <label asp-for="@Model.ConfirmPassword" for="ConfirmPassword">Repetir la Contraseña</label>
                    <input asp-for="@Model.ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" placeholder="Confirmar la contraseña">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <h5 class="card-title">Datos personales</h5>
            <div class="form-group">
                <label asp-for="@Model.DatosPersonales.Nombre" for="Nombre">Nombre</label>
                <input asp-for="@Model.DatosPersonales.Nombre" id="Nombre" type="text" class="form-control" placeholder="Nombre">
                <span asp-validation-for="@Model.DatosPersonales.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DatosPersonales.Apellidos" for="Apellidos">Apellidos</label>
                <input asp-for="@Model.DatosPersonales.Apellidos" id="Apellidos" type="text" class="form-control" placeholder="Apellidos">
                <span asp-validation-for="@Model.DatosPersonales.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DatosPersonales.Movil" for="Fijo">Número de teléfono</label>
                <input asp-for="@Model.DatosPersonales.Movil" id="Fijo" type="tel" class="form-control" placeholder="Num. telefono">
                <span asp-validation-for="@Model.DatosPersonales.Movil" class="text-danger"></span>
            </div>
            <h5 class="card-title">direccion</h5>
            <script src="~/lib/pselect-master/dist/pselect.js"></script>
            <div class="row">
                <div class="form-group col-9">
                    <label asp-for="@Model.Direcciones[0].Calle" for="Calle">Calle</label>
                    <input asp-for="@Model.Direcciones[0].Calle" id="Calle" type="text" class="form-control" placeholder="Calle">
                    <span asp-validation-for="@Model.Direcciones[0].Calle" class="text-danger"></span>
                </div>
                <div class="form-group col-3">
                    <label asp-for="@Model.Direcciones[0].CodigoPostal" for="CodigoPostal">CP</label>
                    <input asp-for="@Model.Direcciones[0].CodigoPostal" id="CodigoPostal" type="text" class="form-control" placeholder="Código postal">
                    <span asp-validation-for="@Model.Direcciones[0].CodigoPostal" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-12 col-md-6">
                    <div class="input-group-prepend">
                        <label asp-for="@Model.Direcciones[0].Provincia.id" class=" input-group-text" for="Provincia">Provincia</label>
                    </div>
                    <select asp-for="@Model.Direcciones[0].Provincia.id" class="custom-select" id="Provincia" required></select>
                    <span asp-validation-for="@Model.Direcciones[0].Provincia.id" class="text-danger"></span>
                </div>
                <div class="input-group mb-3 col-12 col-md-6">
                    <div class="input-group-prepend">
                        <label asp-for="@Model.Direcciones[0].Municipio.id" class=" input-group-text" for="Municipio">Municipio</label>
                    </div>
                    <select asp-for="@Model.Direcciones[0].Municipio.id" class="custom-select" id="Municipio" required></select>
                    <span asp-validation-for="@Model.Direcciones[0].Municipio.id" class="text-danger"></span>
                </div>
            </div>

            <p class="text-secondary mb-1 mr-3 ml-3" style="line-height: 1;font-size: small;">
                Al registrarse acepta todos los términos y condiciones de uso además del uso de cookies para mejorar su experiencia.
            </p>
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>
    </div>
</form>

<script>
    // Crear el selector pasandole los elementos del dom.
    var prov = document.getElementById('Provincia');
    var mun = document.getElementById('Municipio');
    new Pselect().create(prov, mun);
</script>


