
@{
    ViewData["Title"] = "DatosPersonales";
    ViewData["Css"] = "/css/profile.css";
}
@model Cliente;
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <partial name="_UserMenu" model="@new List<int>() { Model.Pedidos.Count(),1 }" />
            </div>
        </div>
        <div class="col-md-9">
            <form asp-action="DatosPersonales">
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Mi Perfil</h4>
                            <br>
                        </div>
                    </div>
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <th colspan="2">Datos Personales</th>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="@Model.DatosPersonales.Nombre" for="input1">Nombre</label>
                                </td>
                                <td>
                                    <div>
                                        <input asp-for="@Model.DatosPersonales.Nombre" value="@Model.DatosPersonales.Nombre" id="input1" type="text" class="form-control" placeholder="Nombre" required>
                                        <span asp-validation-for="@Model.DatosPersonales.Nombre" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="@Model.DatosPersonales.Apellidos" for="input2">Apellidos</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="@Model.DatosPersonales.Apellidos" value="@Model.DatosPersonales.Apellidos" id="input2" type="text" class="form-control" placeholder="Apellidos" required>
                                        <span asp-validation-for="@Model.DatosPersonales.Apellidos" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                            <tr>
                                <td>
                                    <label asp-for="@Model.DatosPersonales.Movil" for="input2">Movil</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="@Model.DatosPersonales.Movil" value="@Model.DatosPersonales.Movil" id="input2" type="text" class="form-control" placeholder="Movil" required>
                                        <span asp-validation-for="@Model.DatosPersonales.Movil" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label asp-for="@Model.DatosPersonales.Fijo" for="input2">Fijo</label>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input asp-for="@Model.DatosPersonales.Fijo" value="@Model.DatosPersonales.Fijo" id="input2" type="text" class="form-control" placeholder="Fijo">
                                        <span asp-validation-for="@Model.DatosPersonales.Fijo" class="text-danger"></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
