
@{
    ViewData["Title"] = "Pedidos";
    ViewData["Css"] = "/css/profile.css";
}
@model Cliente
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <partial name="_UserMenu" model="@new List<int>() { Model.Pedidos.Count(),3 }" />
            </div>
        </div>
        <div class="col-md-9">
            @foreach (Pedido ped in Model.Pedidos)
            {
                <div class="card rounded m-1 row p-3" style="background-color:white">

                    <div class="card-block">
                        <h4>Precio: <span class="card-title text-primary">@ped.GetPrecioTotal()</span></h4>

                        @foreach (Producto item in ped.ListaProductos)
                        {
                            <p class="card-text">@item.Nombre <br /> @item.Cantidad Unidades</p>
                        }
                        <p class="card-text"><strong>Fecha: @ped.Fecha.ToString()</strong></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">ID: @ped.Id</small>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<br>
<br>