
@{
    ViewData["Title"] = "Panel de usuario";
    ViewData["Css"] = "/css/profile.css";
}
@model Cliente
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        HiperCor Web
                    </div>
                    <div class="profile-usertitle-job">
                        Supermercado del Corte Inglés
                    </div>
                </div>

                <div class="list-group profile-usermenu">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Mi Perfil
                    </a>
                    <a asp-action="DatosPersonales" class="list-group-item list-group-item-action">Ver Datos Personales</a>
                    <a asp-action="Direcciones" class="list-group-item list-group-item-action">Direcciones</a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Mi Perfil</h4>
                        <br>
                    </div>
                </div>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <th colspan="2">Datos del Perfil</th>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td>Nombre:</td>
                            <td>@Model.DatosPersonales.Nombre</td>
                        </tr>
                        <tr>
                            <td>Apellidos:</td>
                            <td>@Model.DatosPersonales.Apellidos</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Movil:</td>
                            <td>@Model.DatosPersonales.Movil</td>
                        </tr>
                        @if (@Model.DatosPersonales.Fijo != null)
                        {
                            <tr>
                                <td>Fijo:</td>
                                <td>@Model.DatosPersonales.Fijo</td>
                            </tr>
                        }
                        <tr>
                            <th colspan="2">Direccion Principal</th>
                        </tr>
                        <tr>
                            <td>Provincia:</td>
                            <td>@Model.Direcciones[0].Provincia.nm</td>
                        </tr>
                        <tr>
                            <td>Municipio:</td>
                            <td>@Model.Direcciones[0].Municipio.nm</td>
                        </tr>
                        <tr>
                            <td>Código Postal</td>
                            <td>@Model.Direcciones[0].CodigoPostal</td>
                        </tr>
                        <tr>
                            <td>Direccion completa</td>
                            <td>@Model.Direcciones[0].Calle</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>