
@{
    ViewData["Title"] = "Panel de usuario";
}
@model Cliente
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Datos de la cuenta</h5>
        <div class="card-text"><strong>Email: </strong>@Model.Email</div>
    </div>
</div>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Datos personales</h5>
        <div class="card-text"><strong>Nombre: </strong>@Model.DatosPersonales.Nombre</div>
        <div class="card-text"><strong>Apellidos: </strong>@Model.DatosPersonales.Apellidos</div>
        <div class="card-text"><strong>Movil: </strong>@Model.DatosPersonales.Movil</div>
        @if (@Model.DatosPersonales.Fijo != null)
        {
            <div class="card-text"><strong>Movil: </strong>@Model.DatosPersonales.Fijo</div>
        }
    </div>
</div>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Direccion Principal</h5>
        <div class="card-text"><strong>Provincia: </strong>@Model.Direcciones[0].Provincia.nm</div>
        <div class="card-text"><strong>Municipio: </strong>@Model.Direcciones[0].Municipio.nm</div>
        <div class="card-text"><strong>Código postal: </strong>@Model.Direcciones[0].CodigoPostal</div>
        <div class="card-text"><strong>Calle: </strong>@Model.Direcciones[0].Calle</div>
    </div>
</div>