
@{
    ViewData["Title"] = "Panel de usuario";
    ViewData["Css"] = "/css/profile.css";
}
@model Cliente
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Datos de la cuenta</h5>
        <div class="card-text"><strong>Email: </strong>@Model.Email</div>
    </div>
</div>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Datos personales</h5>
        <div class="card-text"><strong>Nombre: </strong>@Model.DatosPersonales.Nombre</div>
        <div class="card-text"><strong>Apellidos: </strong>@Model.DatosPersonales.Apellidos</div>
        <div class="card-text"><strong>Movil: </strong>@Model.DatosPersonales.Movil</div>
        @if (@Model.DatosPersonales.Fijo != null)
        {
            <div class="card-text"><strong>Fijo: </strong>@Model.DatosPersonales.Fijo</div>
        }
        <a asp-action="DatosPersonales" class="btn btn-outline-primary btn-block">Editar</a>
    </div>
</div>
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Direcciones: @Model.Direcciones.Count</h5>
        <div class="card-text"><strong>Provincia: </strong>@Model.Direcciones[0].Provincia.nm</div>
        <div class="card-text"><strong>Municipio: </strong>@Model.Direcciones[0].Municipio.nm</div>
        <div class="card-text"><strong>Código postal: </strong>@Model.Direcciones[0].CodigoPostal</div>
        <div class="card-text"><strong>Calle: </strong>@Model.Direcciones[0].Calle</div>
        <a asp-action="Direcciones" class="btn btn-outline-primary btn-block">Editar</a>
    </div>
</div>





<!--
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">

                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Alladin TROUMBA
                    </div>
                    <div class="profile-usertitle-job">
                        Developer
                    </div>
                </div>

                <div class="profile-userbuttons">
                    <a href="edit.html" class="btn btn-success btn-sm">Edit my profile</a>
                </div>

                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="profile.html">
                                <i class="fa fa-star"></i>
                                Overview
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                Account Settings
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-ok"></i>
                                Tasks
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Your Profile</h4>
                        <br>
                    </div>
                </div>
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Department:</td>
                            <td>Programming</td>
                        </tr>
                        <tr>
                            <td>Hire date:</td>
                            <td>06/23/2013</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>01/24/1988</td>
                        </tr>

                        <tr>
                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Home Address</td>
                            <td>Yaoundé,Cameroub</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:info@yuscards.com">info@yuscarsd.com</a></td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>237-4567-890(Landline)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->